:root {
    --color-bg: #77a6d6;
    --color-texto-banner: #FFFFFF;
    --color-externo: #00ff95;;
    --color-1: #557ea3;
    --color-2: #9a8f76;
    --color-3: #211c30;

    --fuentePrincipal: 'Poppins', sans-serif;
    --fuenteSecundaria: 'Hind Madurai', sans-serif;

}

body {
    font-size: 1.6rem;
}

.navegacion {
    padding: 1rem;
}

.contenido-navegacion {
    display: flex;
    justify-content: space-around;

}

.contenido-navegacion .texto .h3_contenido-navegacion {
    font-size: 1.5rem;
    color: inherit;
    font-family: var(--fuenteSecundaria);

}

.blog {
    position: relative;
    width: 150px;
    height: 38px;
    margin-right: auto;
    overflow: hidden;
    border: 1px solid var(--color-3);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 4rem;
}

.blog .boton_blog {
    width: 101%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    background: var(--color-3);
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: var(--color-texto-banner);
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
}

.blog .boton_blog:hover {
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;
}

.mas_blog {
    position: absolute;
    color: var(--color-3);
    text-align: center;
    width: 101%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 20px;
    margin-top: 8px;
    overflow: hidden;
}

.grid {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

/** Banner **/



.banner-bg {
    background-image: radial-gradient(circle at 107.92% 90.56%, #d4c8ff 0, #9d9df2 50%, #6d73b0 100%);

    border-radius: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.contenido-texto {
    color: var(--color-texto-banner);
    font-family: var(--fuentePrincipal);
    padding: 1.3rem;
}

.contenido-texto .h1_contenido-texto {
    font-size: 2.5rem;
    line-height: 1.5rem;
}

.contenido-texto .rango {
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 1.5rem;
}

.contenido-texto .descripcion {
    font-size: 1rem;
    line-height: 1.5rem;
}

.contenido_imagen .imagen_banner {
    width: 20ch;

}

@media (min-width:768px) {
    .contenido_main {
        padding-top: 1.2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .banner-bg {
        background-image: radial-gradient(circle at 107.92% 90.56%, #d4c8ff 0, #9d9df2 50%, #6d73b0 100%);
        border-radius: 2rem;
    }

    .contenido-texto {
        color: var(--color-texto-banner);
        padding-top: 2.5rem;
        padding-left: 4.2rem;
        padding-right: 4.2rem;
    }

    .contenido-texto .h1_contenido-texto {
        font-family: var(--fuentePrincipal);
        font-size: 4.5rem;
        font-weight: 700;
    }

    .contenido-texto .rango {
        font-family: var(--fuenteSecundaria);
        font-size: 2.8rem;
        font-weight: 100;
        line-height: 1.5rem;
    }

    .contenido-texto .descripcion {
        font-family: var(--fuentePrincipal);
        font-size: 1.3rem;
        font-weight: 100;
        padding-bottom: 2rem;
        max-width: 48ch;

    }
}

/** Sobre mí **/

.contenedor-sobremi {
    padding-top: 5rem;
    display: inline-block;
    text-align: center;
}

@media (min-width:768px) {
    .contenido_sobremi {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor-sobremi {
        padding-top: 5rem;
        margin-left: 12rem;
        margin-right: 12rem;
    }
}

.contenido_sobremi .contenido-texto {
    color: var(--color-3);

}

.contenido-img .imagen_redonda {
    width: 25ch;
    height: 25ch;
    border-radius: 10rem;
}

.button-container-2 {
    position: relative;
    width: 60%;
    height: 50px;
    margin-right: auto;
    overflow: hidden;
    border: 1px solid var(--color-3);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 4rem;

    display: inline-block;
    text-align: center;
}

.button-container-2 button {
    width: 101%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    background: var(--color-3);
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: var(--color-texto-banner);
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
}

.button-container-2 button:hover {
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;
}

.mas {
    position: absolute;
    color: var(--color-3);
    text-align: center;
    width: 101%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 20px;
    margin-top: 12px;
    overflow: hidden;
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}



/** Banner de abajo **/


.contenido_banner_bottom {
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.contenido_banner_bottom .contenido_banner_bottom-bg {
    background-image: radial-gradient(circle at 107.92% 90.56%, #d4c8ff 0, #9d9df2 50%, #6d73b0 100%);
    clip-path: polygon(0 0,100% 0,100% calc(100% - 24px),0 100%);
}

.contenido_banner_bottom .contenido_banner_bottom-bg .h2_contenido_banner {
    color: var(--color-texto-banner);
    font-family: var(--fuentePrincipal);

    padding-top: 2.5rem;
    padding-bottom: 3.4rem;
    padding-left: 8rem;
    padding-right: 8rem;

}
/** Redes Sociales **/
.redes-sociales {
    display: flex;
    justify-content: center;
}

/* .contenido-redes_sociales {

} */

.contenido-redes_sociales .texto_redes_sociales {
   font-family: var(--fuenteSecundaria); 
   font-size: 1.5rem; 
   font-weight: normal;
}

.iconos-redes-sociales {
  display: flex;
  justify-content: center;
}

.iconos-redes-sociales .size-icon {
    font-size: 2rem;
}

.iconos-redes-sociales .padding-icon{
    padding-left: .8rem;
    padding-right: .8rem;
}

.iconos-redes-sociales .color-bg{
    color: var(--color-3);
}


/** Footer **/

.footer {
    padding-left: 3.4rem;
    padding-right: 3.4rem;
}

.contenido-footer {
    background-image: linear-gradient(305deg, #c3bbff 0, #9d9df2 50%, #7b80c3 100%);
    border-radius: 4rem;
    
}

.texto_footer {
    
}

.h5_texto_footer {
    text-align: center;
    color: var(--color-texto-banner);
    font-family: var(--fuentePrincipal); 
    font-size: 1rem; 
    font-weight: normal;

    padding-top: .6rem;
    padding-bottom: .6rem;
    

}